.App {
  text-align: center;
}

.wrapper {
  width: 1090px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.card {
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px;
}

.card:hover {
  /*default values*/
  --severityHigh: "50px";
  --severityLow: "-50px";

  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(var(--severityHigh), 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(var(--severityLow), 0, 0);
  }

  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }
}

button {
  margin: 4px;
}

.correct-button {
  background-color: aquamarine;
}
.wrong-button {
  background-color: lightpink;
}